:root {
    --color1: #e64f4f;
    /*rgba(177,141,87,)*/
    --color2: #d6292a;
    /*rgba(214,4,42,)*/
    --color3: #fff;
    /*rgba(255,252,242,)*/
    --color4: #000;
    /**/
    --color5: #58A4B0;
    /**/

    --main-font: "Calibri", sans-serif;
    --sec-font: 'Lato', sans-serif;

    --tam-small: 17px;
    --tam-reg: 22px;
    --tam-big: 33px;

}

body {
    overflow-x: hidden;
}

/*-----------------------------Header Combinado--------------------------*/

.header-combinado-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    height: 100vh;
}

.header-combinado-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.header-combinado-main-title {
    font-size: var(--home-font-size);
    color: var(--home-font-color);
    margin-top: 20px;
    font-family: var(--home-font);
}



@media (max-width: 991px) {
    .header-combinado-main-title {
        font-size: 33px;
        margin: 0 6vw;
    }
}

/*-----------------------------Header--------------------------*/
:root {
    --nav-font: var(--main-font);
    --nav-font-size: var(--tam-reg);
    --nav-font-color: var(--color3);
    --nav-bg-color: var(--color2);
}

nav {
    flex: 1 1 auto;
}

nav a {
    color: var(--nav-font-color) !important;
    padding-left: 20px;
    font-family: var(--nav-font);
}

.logo {
    display: block;
    width: 50px;
    /* width: 100%; */
    /* height: 100%; */
    height: auto;
}

.nav-link {
    font-size: var(--nav-font-size);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,252,242, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 0px;
}

.custom-toggler.navbar-toggler {
    margin-right: 10px;
    border: 0px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 2px 2px 2px var(--color1);
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg-color);
    border-radius: 50px;
    padding: 40px 0px 20px 0px;
    margin-top: -30px;
    position: sticky;
    z-index: 1;
}

.nav-options {
    gap: 50px;
    margin-right: 50px;
}

@media (max-width: 991px) {

    .nav-options {
        margin-top: 10px;
        gap: 5px;
        margin-right: 0px;
    }
    .nav-options a{
        padding-left: 30px;
    }
}



/*-----------------------------Home--------------------------*/

:root {
    --home-font: var(--main-font);
    --home-font-size: 50px;
    --home-font-color: var(--color3);
    /* --home-ov-bg-color: linear-gradient(rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 1)); */
    --home-ov-bg-color: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1));
    --home-ov-bg-color-res: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1));
}




.home-background-overlay {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 88vh;
    background: var(--home-ov-bg-color);

}


.home-btn {
    background-color: var(--color2);
    border-color: var(--color1);
    margin-top: 20px;
    border-radius: 0px;
    padding: 7px 15px;
    color: var(--color3);
    font-size: var(--tam-reg);
    font-family: var(--sec-font);
}

.home-btn:hover {
    background-color: var(--color1);
    border-color: var(--color1);
}


.home-btn:hover:active {
    background-color: var(--color1);
    border-color: var(--color1);
}


@media (max-width: 991px) {

    .home-btn {
        margin: 10vw 6vw;
    }

    .home-background-overlay {
        position: absolute;
        top: 40vh;
        left: 0;
        width: 100%;
        height: 61vh;
        background: var(--home-ov-bg-color-res);
    }
}

/*-----------------------------Firma--------------------------*/

:root {
    --firma-font-title: var(--main-font);
    --firma-font-title-size: var(--tam-big);
    --firma-font-title-color: var(--color1);

    --firma-font: var(--sec-font);
    --firma-font-size: var(--tam-reg);
    --firma-font-color: black;

    --firma-txt-align: justify;
    --firma-bg-color: none;
    --firma-ov-bg-color: var(--color3);
    /*linear-gradient( to right, rgba(255,252,242,1), rgba(46, 53, 50, 0.3) 90%);*/
    /* --firma-ov-bg-color-res: linear-gradient( to top, rgba(255,252,242,1), rgba(46, 53, 50, 0.3) 90%); */
    --firma-ov-bg-color-res: var(--color3);
}

.backFirma {
    background-color: var(--firma-bg-color);
    padding: 50px;
    margin-bottom: 20vh;
    text-align: left;
    bottom: 0px;
}


.backFirma p {
    font-family: var(--firma-font);
    text-align: var(--firma-txt-align);
    color: var(--firma-font-color);
    font-size: var(--firma-font-size);
    line-height: 25px;
    /* hyphens: auto; */
    margin-right: 50px;
}

.backFirma p strong {
    color: var(--color2);
}


.logofirma {
    margin-top: -50vh;
    transform: scale(1);
    /* 1.2 es 120% del tamaño original */
    transform-origin: center bottom;

}

.containerFirma {
    background-color: var(--firma-bg-color);
}

.overlayFirma {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--firma-ov-bg-color);

}




@media (max-width: 991px) {
    .logofirma {
        max-width: 300px;
        margin-top: -15vh;
        transform: scale(1);
        /* 1.2 es 120% del tamaño original */
        transform-origin: center bottom;
    }

    .overlayFirma {
        position: static;
        background: var(--firma-ov-bg-color-res);
    }

    .backFirma {
        padding: 20px;
        margin: 0vh;

    }

    .backFirma h1 {
        font-size: var(--tam-reg);
    }

    .backFirma p {
        font-size: var(--tam-small);
        margin-right: 0px;

    }

}

@media (max-width: 575px) {

    .containerText {
        padding: 0px 0px !important;
    }


}


/*-----------------------------Contacto--------------------------*/

:root {
    --contacto-font-title: var(--main-font);
    --contacto-font-title-size: var(--tam-big);
    --contacto-font-title-color: var(--color1);

    --contacto-font: var(--sec-font);
    --contacto-font-size: var(--tam-reg);
    --contacto-font-color: var(--color2);

    --contacto-font-label: var(--sec-font);
    --contacto-font-label-size: var(--tam-reg);
    --contacto-font-label-color: var(--color2);

    --contacto-form-control-placeholder-color: var(--color4);
    --contacto-form-control-color: var(--color4);
    --contacto-form-control-border-color: var(--color2);
    /* --contacto-form-control-border-color: var(--color2); */

    --contacto-bg-color: none;
    --contacto-bg2-color: rgba(255, 252, 242, 0.9);
    /* --contacto-bg2-color: rgba(255,255,255,0.9); */
    --contacto-ov-bg-color: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

.containerStyleContacto {
    background-color: var(--contacto-bg-color);
    margin: 15vh 0vh 10vh 0vh;
}

/* .backContacto div {
    background-color: var(--contacto-bg2-color);
    margin-bottom: 4vh;
} */

.form-label {
    font-family: var(--contacto-font-label);
    font-size: var(--contacto-font-label-size);
    color: var(--contacto-font-label-color);
    margin-top: 1vh;
}

.form-control::placeholder {
    color: var(--contacto-form-control-placeholder-color);

}

.form-control {
    color: var(--contacto-form-control-color);
    border-radius: 0px;
    background: none;
    border: none;
    border-bottom: 1px solid var(--contacto-form-control-border-color);
    /* border-left: 1px solid var(--contacto-form-control-border-color); */
    border-radius: 50px;
}

.contacto-label{
    padding: 10px;
}

.containerForm {
    padding: 15px;
    background-color: var(--color3);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.5);
    /* Adjust shadow as needed */
    border-radius: 10px;
    /* Adjust radius as needed */
}




.btnContacto {
    background-color: var(--color2);
    border-color: var(--color2);
    margin-top: 20px;
    border-radius: 10px;
    padding: 7px 15px;
    float: right;
    color: var(--color3);
    font-size: var(--tam-reg);
}

.btnContacto:hover {
    background-color: var(--color3);
    border-color: var(--color2);
    color: var(--color2);
}

.btnContacto:hover:active {
    background-color: var(--color2);
    border-color: var(--color1);
}

@media (max-width: 991px) {
    .containerStyleContacto {
        padding: 10px;
    }

    .containerForm {
        margin-top: 10vh;
    }
}


/*-----------------------------Footer--------------------------*/

.text-golden {
    color: white;
    margin-right: 10px;
}

.footerLogo {
    width: 10%;
    height: auto;
    min-width: 140px;
}

.footerSocialMediaNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidehrfooter {
    display: none;
}

@media (max-width: 991px) {
    .footerSocialMediaNav {
        text-align: center;
    }

    .hidehrfooter {
        display: inline;
    }
}

.footerStyle {
    color: white !important;
    background-color: #D6292A !important;
}


.footernav a {
    display: block;
    margin-bottom: 5px;
    color: #c6c2bd !important;
    text-decoration: none;
}

.footernav a:hover {
    text-decoration: underline;
}

.cont {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}

/*----------------------------- Acerca de nosotros --------------------------*/

.acerca-nosotros .pro-sidebar {
    background: #F2F2F2;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.pro-sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}

.acerca-nosotros .pro-sidebar .menu-item {
    color: #000;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
    border: 1px solid #D9D9D9;
    display: block;
    transition: background-color 0.3s;
    font-size: 16px;
}

.acerca-nosotros .pro-sidebar .menu-item-active {
    background-color: #FF0000 !important;
    color: #FFF;
    border: 1px solid #FF0000 !important;
}

.sidebar-carousel .carousel-item {
    height: 310px;
}

.sidebar-carousel .carousel-item img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.texto-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: -1;
}

.content {
    display: flex;
}

.main-content {
    flex: 3;
    padding: 20px;
    position: relative;
    overflow: hidden;
    font-family: var(--main-font);
}

.main-content section {
    margin-bottom: 40px;
}

.main-content h2 {
    color: black;
    padding: 10px;
}

.main-content p {
    padding: 10px;
    background-color: white;
    hyphens: auto;
}

.quienes-somos-section {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.quienes-somos-content {
    width: 68%;
    padding-right: 20px;
}

.quienes-somos-title {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-weight: bold;
}

.quienes-somos-title::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 2px;
    background-color: red;
    width: 400%;
    transform: translateY(-50%);
}

.quienes-somos-text {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    text-size-adjust: 100%;
    font-size: 1.2em;
    margin-bottom: -20px;
}

.quienes-somos-text2 {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    text-size-adjust: 100%;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: -20px;
    width: 90%;
}

.quienes-somos-image {
    width: 52vw;
    height: auto;
    position: absolute;
    right: -24vw;
    top: 0;
    bottom: 0;
    transition: all 0.3s ease;
}

.mision {
    background-color: #D6292A;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

.mision h2 {
    margin-top: 0;
    color: white;
    font-weight: bold;

}

.mision p {
    color: white;
    background-color: #D6292A;
    font-size: 1.2em;
    text-align: justify;
}

.vision {
    background-color: #E64F4F;
    border-radius: 15px;
    padding: 20px;
    margin: 20px 0;
}

.vision h2 {
    margin-top: 0;
    text-align: end;
    color: white;
    font-weight: bold;
}

.vision p {
    color: white;
    background-color: #E64F4F;
    font-size: 1.2em;
    text-align: justify;
}

#valores h2 {
    font-weight: bold;
}

#valores p {
    font-size: 1.2em;
    text-align: justify;
}

.principios-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 40px;
}

.principios-title {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: -70px;
    font-weight: bold;
    text-align: end;
}

.principios-title::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    height: 2px;
    background-color: red;
    width: 75%;
    transform: translateY(-50%);
}

.principios-text {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    text-size-adjust: 100%;
    font-size: 1.2em;
    width: 90%;
}

.principios-image {
    margin-top: 10px;
    width: 28vw;
    height: 100%;
    position: absolute;
    right: -10vw;
    top: 0;
    bottom: 0;
    object-fit: contain;
    transition: all 0.3s ease;
}

#organigrama h2 {
    font-weight: bold;
}

#organigrama img {
    width: 100%;
    height: auto;
}

@media (max-width: 1400px) {
    .pro-sidebar {
        display: none;
    }

    .quienes-somos-text {
        font-size: var(--tam-small);
    }

    .quienes-somos-text2 {
        width: 100%;
        font-size: var(--tam-small);
    }
    .quienes-somos-image {
        width: 100%;
        position: relative;
        left: 0;
        right: 0;
        top: auto;
        bottom: auto;
        order: 2;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .mision {
        margin: -20px;
    }

    .mision p {
        font-size: var(--tam-small);
    }

    .vision {
        margin: -20px;
    }

    .vision p {
        font-size: var(--tam-small);
    }

    #valores p {
        font-size: var(--tam-small); 
    }

    .quienes-somos-content {
        width: 100%;
        padding-right: 0;
        font-size: var(--tam-small);
    }

    .quienes-somos-section {
        flex-direction: column;
    }

    .quienes-somos-title::after {
        width: 400%;
    }

    .principios-image {
        width: 100%;
        position: relative;
        right: 0;
        top: auto;
        bottom: auto;
        order: 2;
    }

    .principios-section {
        flex-direction: column;
    }

    .principios-text{
        width: 100%;
        font-size: var(--tam-small);
    }

    .principios-title {
        margin-right: 0;
        margin-left: 0;
    }

    .principios-title::before {
        width: 55%;
    }

    .texto-encima {
        position: absolute;
        top: 50%;
        left: 44%;
        transform: translate(-50%, -50%);
        color: white;
        text-align: center;
        z-index: -1;
    }
}

/*----------------------------- Servicios --------------------------*/

.tipos-servicio-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.tipos-servicio-content {
    width: 100%;
    padding-right: 20px;
}

.tipos-servicio-title {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-weight: bold;
}

.tipos-servicio-title::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 2px;
    background-color: red;
    width: 400%;
    transform: translateY(-50%);
}

.tipos-servicio-text {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    text-size-adjust: 100%;
    font-size: 1.2em;
}

.tipos-servicio-carousel{
    width: 100%;
    height: 100%;
    position: relative;
    right: 0;
    top: auto;
    bottom: auto;
    order: 2;
    padding-left: 10px;
    border-radius: 10px;
    color: white; 
}

.carousel-tipos-servicios-image {
    object-fit: cover;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    filter: brightness(80%);
}

.carousel-tipos-servicio-titulo {
    text-align: left;
    font-weight: bold;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
}

.carousel-tipos-servicio-texto {
    text-align: justify;
    background-color: transparent !important;
    text-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
}

.video-separado-container {
    width: 100vw; 
    height: 200px; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
    position: relative;
}

.video-separado-servicios {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1; 
    filter: brightness(70%);
}

.otros-video-separado-container {
    width: 100vw; 
    height: 300px; 
    margin: 0; 
    padding: 0; 
    right: 0; 
    overflow: hidden; 
    position: relative;
}

.otros-video-separado-servicios {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1; 
    filter: brightness(70%);
}



.texto-encima-video-separador {
    content: none;
    background-color: transparent !important;
    position: absolute;
    top: 50%; 
    left: 40%; 
    transform: translate(-90%, -50%); 
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 3; 
}

.modalidades-servicio-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-bottom: 40px;
}

.modalidades-servicio-title {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: end; 
}

.modalidades-servicio-title::before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    height: 2px;
    background-color: red;
    width: 65%;
    transform: translateY(-50%);
}

.modalidades-servicio-text {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    text-size-adjust: 100%;
    font-size: 1.2em;
    width: 100%;
    margin-top: 40 px;
}

.text-center {
    text-align: center;
    font-size: 1.0em;
}

.Card {
    position: relative; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    width: 270px; 
    height: 350px; 
    border: none;
}

.servicio-seguimiento-texto {
    font-size: var(--tam-small);
}

.servicio-seguimiento-titulo{
    font-size: var(--tam-big);
}



.servicio-seguimiento-image-content {
    justify-content: start;
}

.servicio-seguimiento-titulo {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    font-weight: bold;
}

.servicio-seguimiento-titulo::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    height: 2px;
    background-color: red;
    width: 400%;
    transform: translateY(-50%);
}

@media (max-width: 991px) {
    .servicio-seguimiento-image-content {
        justify-content: center;
    }
    .servicio-seguimiento-titulo::after {
        width: 400%;
    }
}


.servicio-seguimiento-image {
    width: 52vw;
}






@media (max-width: 1400px) {
    .tipos-servicio-text {
        width: 100%;
    }

    .tipos-servicio-image {
        width: 100%;
        position: relative;
        right: 0;
        top: auto;
        bottom: auto;
        order: 2;
    }

    .tipos-servicio-content {
        width: 100%;
        padding-right: 0;
    }

    .tipos-servicio-section {
        flex-direction: column;
    }

    .tipos-servicio-title::after {
        width: 400%;
    }

    .tipos-servicio-carousel{
        width: 100%;
        height: 100%;
        position: relative;
        right: 0;
        top: auto;
        bottom: auto;
        order: 2;
        padding-left: 10px;
        border-radius: 10px;
        color: white; 
        background-color: transparent; 
    }

    .carousel-tipos-servicio-texto {
        text-align: justify;
        background-color: transparent !important;
        text-shadow: 16px 16px 16px rgba(0, 0, 0, 0.5) !important;
        font-size: 1.0em !important;
    }

    .texto-encima-video-separador {
        left: 50%;
    }

    .modalidades-servicio-title {
        margin-right: 0;
        margin-left: 0;
    }

    .modalidades-servicio-title::before {
        width: 30%;
    }

}

@media (max-width: 450px) {
    .modalidades-servicio-title::before {
        width: 15%;
    }
}


/*----------------------------- Carousel Inicio --------------------------*/
.caption-left {
    text-align: left;
    right: auto;
    left: 15%;
    margin-bottom: 15vh;

}

.caption-left h3 {
    right: auto;
    background-color: rgba(214, 41, 42, 0.8);
    padding: 5vh;
}

.standard-image {
    object-fit: cover;
    width: 100%;
    height: 70vh;
}

@media (max-width: 991px) {
    .caption-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        right: auto;
        margin-bottom: auto;
    }
}


/*----------------------------- Contacto Pagina --------------------------*/

.contacto-pagina-container {
    padding: 3vw;
    background-color: rgba(255, 255, 255, 0.85);
    /* Adjust shadow as needed */
    border-radius: 10px;
    /* Adjust radius as needed */
    margin-top: 20vh;
}

.contacto-pagina-titulo{
    margin-bottom: 2vh;
    color: var(--color2);
}

.contacto-pagina-flecha {
    color: white;
    font-size: 10vh;
    margin-top: 5vh;
    transition: color 0.3s ease; 
}

.contacto-pagina-flecha:hover {
    color: var(--color2); 
}




@media (max-width: 991px) {

    .contacto-pagina-container {
        margin-top: 0vh;
    }
}
