:root {
    --color1: #b18d57;
    /*rgba(177,141,87,)*/
    --color2: #d6292a;
    /*rgba(46,53,50,)*/
    --color3: #FFFCF2;
    /*rgba(255,252,242,)*/
    --color4: #931621;
    /**/
    --color5: #58A4B0;
    /**/

    --main-font: "Calibri", sans-serif;

    --sec-font: 'Lato', sans-serif;

    --tam-small: 17px;
    --tam-reg: 22px;
    --tam-big: 33px;

    --nav-font: var(--main-font);
    --nav-font-size: var(--tam-reg);
    --nav-font-color: var(--color3);
    --nav-bg-color: var(--color2);


    --popup-bg-color: var(--color2);


    --home-font: var(--main-font);
    --home-font-size: 50px;
    --home-font-color: var(--color3);
    /* --home-ov-bg-color: linear-gradient(rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 1)); */
    --home-ov-bg-color: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) );
    --home-ov-bg-color-res: linear-gradient(rgba(255, 255, 255, 0) 70%, rgb(255, 255, 255, 1) );


    --firma-font-title: var(--main-font);
    --firma-font-title-size: var(--tam-big);
    --firma-font-title-color: var(--color1);

    --firma-font: var(--sec-font);
    --firma-font-size: var(--tam-reg);
    --firma-font-color: var(--color2);

    --firma-txt-align: justify;
    --firma-bg-color: none;
    --firma-ov-bg-color: var(--color3);/*linear-gradient( to right, rgba(255,252,242,1), rgba(46, 53, 50, 0.3) 90%);*/
    /* --firma-ov-bg-color-res: linear-gradient( to top, rgba(255,252,242,1), rgba(46, 53, 50, 0.3) 90%); */
    --firma-ov-bg-color-res: var(--color3);




    --esp-font-title: var(--main-font);
    --esp-font-title-size: var(--tam-big);
    --esp-font-title-color: var(--color3);

    --esp-font-subt: var(--main-font);
    --esp-font-subt-size: var(--tam-reg);
    --esp-font-subt-color: var(--color1);

    --esp-font: var(--sec-font);
    --esp-font-size: var(--tam-small);
    --esp-font-color: var(--color2);

    --esp-txt-align: justify;
    --esp-card-bg-color: rgba(255, 252, 242, 0.9);
    --esp-bg-color: var(--sec-color);
    /* --esp-ov-bg-color: linear-gradient(rgba(177,141,87, 1),rgba(177,141,87, 0.1), rgba(46,53,50,0.5),rgba(46,53,50,1)); */
    --esp-ov-bg-color: linear-gradient(rgba(255,252,242, 0), rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 0.5), rgba(46, 53, 50, 1));
    /* --esp-ov-bg-color: linear-gradient( rgba(177,141,87, 1),  rgba(46,53,50,0) 5%); */



    --clientes-font-title: var(--main-font);
    --clientes-font-title-size: var(--tam-big);
    --clientes-font-title-color: var(--color1);

    --clientes-font: var(--sec-font);
    --clientes-font-size: var(--tam-reg);
    --clientes-font-color: var(--color3);

    --clientes-txt-align: center;
    --clientes-bg-color: none;
    --clientes-ov-bg-color: linear-gradient(rgba(46, 53, 50, 1), rgba(46, 53, 50, 1));



    --contacto-font-title: var(--main-font);
    --contacto-font-title-size: var(--tam-big);
    --contacto-font-title-color: var(--color1);

    --contacto-font: var(--sec-font);
    --contacto-font-size: var(--tam-reg);
    --contacto-font-color: var(--color2);

    --contacto-font-label: var(--sec-font);
    --contacto-font-label-size: var(--tam-reg);
    --contacto-font-label-color: var(--color2);

    --contacto-form-control-placeholder-color: var(--color2);
    --contacto-form-control-color: var(--color2);
    --contacto-form-control-border-color: var(--color2);

    --contacto-bg-color: none;
    --contacto-bg2-color: rgba(255, 252, 242, 0.9);
    /* --contacto-bg2-color: rgba(255,255,255,0.9); */
    --contacto-ov-bg-color: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}


/*-----------------------------Header--------------------------*/
nav {

    flex: 1 1 auto;
}

nav a {
    color: var(--nav-font-color) !important;
    padding-left: 20px;
    font-family: var(--nav-font);
}

.logo {
    display: block;
    width: 50px;
    height: auto;
}

@media (max-width: 991px) {
    .logoMid {
        display: none;
    }
}

@media (min-width: 991px) {
    .logoleft {
        display: none;
    }
}

.nav-link {
    font-size: var(--nav-font-size);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(177,141,87, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

.custom-toggler.navbar-toggler {
    margin-right: 10px;
    border: 0px;
}

.socialheader {
    display: flex;
    gap: 5px;
    align-items: center;
    flex: 1 1 50px;

}

.socialheader a svg,
.socialnav a svg {
    margin: 0 5px;

}

.socialnav a {
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    background-color: var(--nav-bg-color);
    border-radius: 50px;
    padding: 40px 0px 20px 0px;
    margin-top: -30px;

}

.navoptions{
    gap: 50px;
    margin-right: 50px;
}

@media (min-width: 991px) {
    .logoleft {
        height: 40vh;
    }

    .socialnav {
        display: none;
    }
}

@media (max-width: 991px) {
    .socialheader {
        display: none;
    }

    .socialnav {
        display: block;
    }
    .navoptions{
        margin-top: 10px;
        gap: 5px;
        margin-right: 0px;
    }
}

/*-----------------------------Popup--------------------------*/

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--popup-bg-color);
    /* Fondo negro completamente opaco */
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.popup-content {
    background-color: transparent;
    padding: 20px;
    text-align: center;
}

.popup-image {
    min-width: 100px;
    width: 50%;
    animation: fade-in 1s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.popup-overlay.fade-out {
    opacity: 0;
}


/*-----------------------------Home--------------------------*/


.mainLogo {
    width: 30%;
    height: auto;
    min-width: 280px;
}

.mainTitle {
    font-size: var(--home-font-size);
    color: var(--home-font-color);
    margin-top: 20px;
    font-family: var(--home-font);
}

.overlayHome {
    position: absolute;
    top: 15vh;
    left: 0;
    width: 100%;
    height: 85vh ;
    background: var(--home-ov-bg-color);

}


.containerStyleHome {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    position: relative;
    height: 100vh;
}

.btnHome {
    background-color: var(--color2);
    border-color: var(--color1);
    margin-top: 20px;
    border-radius: 0px;
    padding: 7px 15px;
    color: var(--color3);
    font-size: var(--tam-reg);
    font-family: var(--sec-font);
}

.btnHome:hover {
    background-color: var(--color1);
    border-color: var(--color1);
}
/* .btnHome:active {
    background-color: var(--color1);
    border-color: var(--color1);
} */
.btnHome:hover:active {
    background-color: var(--color1);
    border-color: var(--color1);
}


@media (max-width: 991px) {
    .mainTitle {
        font-size: 33px;
        margin: 0 6vw;
    }

    .btnHome {
        margin: 10vw 6vw;
    }

    .overlayHome {
        position: absolute;
        top: 40vh;
        left: 0;
        width: 100%;
        height: 61vh;
        background: var(--home-ov-bg-color-res);
    }
}

/*-----------------------------Firma--------------------------*/

.backFirma {
    background-color: var(--firma-bg-color);
    padding: 50px;
    margin: 5vh 0vh;
    text-align: left;

}

.backFirma h1 {
    font-family: var(--firma-font-title);
    text-align: var(--firma-txt-align);
    color: var(--firma-font-title-color);
    font-size: var(--firma-font-title-size);
    margin-bottom: 4vh;
}

.backFirma p {
    font-family: var(--firma-font);
    text-align: var(--firma-txt-align);
    color: var(--firma-font-color);
    font-size: var(--firma-font-size);
    line-height: 25px;
    hyphens: auto;
    margin-right: 50px;
}


.logofirma {
    transform: scale(1.5); /* 1.2 es 120% del tamaño original */
    transform-origin: center bottom; 

}

.containerFirma {
    background-color: var(--firma-bg-color);
}

.overlayFirma {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--firma-ov-bg-color);

}




@media (max-width: 991px) {
    .logofirma {
        max-width: 300px;
        margin-top: -15vh;
        transform: scale(1); /* 1.2 es 120% del tamaño original */
        transform-origin: center bottom; 
    }

    .overlayFirma {
        position: static;
        background: var(--firma-ov-bg-color-res);
    }

    .backFirma {
        padding: 20px;
        margin: 5vh 0vh 0 0;
        
    }

    .backFirma h1 {
        font-size: var(--tam-reg);
    }

    .backFirma p {
        font-size: var(--tam-small);
       
    }

}

@media (max-width: 575px) {

    .containerText {
        padding: 0px 0px !important;
    }
    

}


/*-----------------------------Especialidades--------------------------*/
.espTitle {
    font-family: var(--esp-font-title);
    font-size: var(--esp-font-title-size);
    color: var(--esp-font-title-color);
    text-align: center;
}

.card-title {
    font-family: var(--esp-font-subt);
    font-size: var(--esp-font-subt-size);
    color: var(--esp-font-subt-color);
}

.card-img-top {
    padding: 20px;
    max-height: 130px;
    width: auto;
}

.card {
    border: none;
    background-color: var(--esp-card-bg-color);
    border-radius: 10px !important;
    min-height: auto;
    max-height: 50vh;
    width: 280px;

}

.card-text {
    font-size: var(--esp-font-size);
    font-family: var(--esp-font);
    color: var(--esp-font-color);
    margin-bottom: 10px;
    word-spacing: 1px;
}

.card-body {
    margin-bottom: 10px;
}


/* .especialidadesSec{
    background-image: linear-gradient(to bottom, #b18d57, #7b623c ) !important;

    padding: 20px 0px 20px 0px;
} */

.especialidadesSec {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--esp-ov-bg-color);
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    height: 100vh;
    /* background: rgba(177, 141, 87, .7); */
}

.cardgroupstyle {
    display: flex;
    align-items: center;
    padding: 5vw;
    margin: 10px;
}

.colesp {
    padding: 10px;
}

/*-----------------------------Clientes--------------------------*/
.containerStyleClientes {
    background-color: var(--clientes-bg-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    height: 70vh;
}


.clienteslogos img {
    height: auto;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7vh;
}

.clienteslogos {
    display: flex;
}

/* .clienteslogos img{
    filter: hue-rotate(120deg) brightness(51.8%) saturate(36.6%);
    filter: sepia(100%);
} */

.backClientes {
    background-color: var(--clientes-bg-color);
    padding: 50px;
    margin: 5vh 0vh;

}

.backClientes h1 {
    font-family: var(--clientes-font-title);
    text-align: var(--clientes-txt-align);
    color: var(--clientes-font-title-color);
    font-size: var(--clientes-font-title-size);
    margin-bottom: 4vh;
}

.backClientes p {
    font-family: var(--clientes-font);
    text-align: var(--clientes-txt-align);
    color: var(--clientes-font-color);
    font-size: var(--clientes-font-size);
    hyphens: auto;
}


.overlayClientes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clientes-ov-bg-color);
}

@media (max-width: 991px) {

    .overlayClientes {
        position: static;
    }

    .backClientes {
        padding: 20px;
    }

    .clienteslogos img {
        width: 50px;
    }
}


/*-----------------------------Contacto--------------------------*/
.containerStyleContacto {
    background-color: var(--contacto-bg-color);
    padding: 100px;
}

.rowStyleContacto {
    background-color: var(--contacto-bg2-color);
}

.backContacto {
    /* background-color: var(--contacto-bg2-color); */
    padding: 5vw;
}

/* .backContacto div {
    background-color: var(--contacto-bg2-color);
    margin-bottom: 4vh;
} */

.backForm {
    /* background-color: var(--contacto-bg2-color); */
    padding: 5vw;
}

.backContacto h1 {
    font-family: var(--contacto-font-title);
    font-size: var(--contacto-font-title-size);
    color: var(--contacto-font-title-color);
    margin: 0vh 0 4vh 0;
}

.backContacto p {
    font-family: var(--contacto-font);
    font-size: var(--contacto-font-size);
    color: var(--contacto-font-color);
}

.form-label {
    font-family: var(--contacto-font-label);
    font-size: var(--contacto-font-label-size);
    color: var(--contacto-font-label-color);
    margin-top: 1vh;
}

.form-control::placeholder {
    color: var(--contacto-form-control-placeholder-color);

}

.form-control {
    color: var(--contacto-form-control-color);

}

.form-control {
    border-radius: 0px;
    background: none;
    border-color: var(--contacto-form-control-border-color);

}



.btnContacto {
    background-color: var(--color1);
    border-color: var(--color2);
    margin-top: 20px;
    border-radius: 0px;
    padding: 7px 15px;
    float: right;
    color: var(--color3);
    font-size: var(--tam-reg);
}

.btnContacto:hover {
    background-color: var(--color2);
    border-color: var(--color1);
}
.btnContacto:hover:active {
    background-color: var(--color2);
    border-color: var(--color1);
}



.hidehr {
    display: none;
}

@media (max-width: 991px) {
    .containerStyleContacto {
        padding: 10px;
    }

    .hidehr {
        display: block;
        color: var(--color3);
    }

    .backContacto h1 {
        font-size: var(--tam-big);
        text-align: center;

    }

    .backContacto p {
        font-size: var(--tam-small);
    }
}


/*-----------------------------Footer--------------------------*/

.text-golden {
    color: #c6c2bd;
    margin-right: 10px;
}

.footerLogo {
    width: 30%;
    height: auto;
    min-width: 280px;
}

.footerSocialMediaNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidehrfooter {
    display: none;
}

@media (max-width: 991px) {
    .footerSocialMediaNav {
        text-align: center;
    }

    .hidehrfooter {
        display: inline;
    }
}


.leyendaDerechos {
    text-align: right;
    color: #c6c2bd;
}

.footerStyle {
    color: #c6c2bd !important;
    background-color: #000 !important;
}


.footernav a {
    display: block;
    margin-bottom: 5px;
    color: #c6c2bd !important;
    text-decoration: none;
}

.footernav a:hover {
    text-decoration: underline;
}


.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    padding: 10px;
    background-color: #25D366;
    border-radius: 100%;
}

.whatsapp-button svg {
    margin: 0;
}

.whatsappButtonColor {
    color: var(--color3);
}

.cont {
    text-decoration: none;
    font-weight: bold;
    color: inherit;
}